<section data-ng-controller="VersesController">
	<div class="page-header">
		<h1>New Verse</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="createDirect()" novalidate>
			<fieldset>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" name="email" data-ng-model="email" id="email" class="form-control"  placeholder="Email">
                    </div>
                </div>
				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
                <div class="form-group" ng-class="{ 'has-error': articleForm.group.$dirty && articleForm.group.$invalid }">
                    <label class="control-label" for="group">Group</label>
                    <div class="controls">
                        <input name="group" type="text" data-ng-model="group" id="group" class="form-control" placeholder="Group">
                    </div>
                </div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>