<section data-ng-controller="VersesInfoController" data-ng-init="">
	<div class="page-header">
	</div>
    <div class="row">
        <form name="versesForm" class="form-horizontal" data-ng-submit="emailChanged()" novalidate>
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">Email:</span> <input type="text" data-ng-model="email" class="form-control">
                </div>
            </div>
            <div class="col-xs-2">
                <select data-ng-options="sday.Desc for sday in scheduleStarts" data-ng-change="scheduleChanged()" data-ng-model="scheduleStartSel"  class="form-control">
                </select>
            </div>

        </form>

    </div>
    <style type="text/css">
        .green {
            color: white;
            background: green;
        }
    </style>
	<div >

		<div class="row" data-ng-repeat="schLine in curSchedule">
            <div class="col-xs-1 {{recordedHash[sch] === true?'green':''}}" data-ng-repeat="sch in schLine">{{sch}}</div>
		</div>

	</div>
    <div>
        <div class="row">
            User Counts:
            <div class="row" data-ng-repeat="stat in allStats">
                <div class="col-xs-4">{{stat.displayName}}</div><div class="col-xs-1">{{stat.read}}</div><div class="col-xs-1">{{stat.totalToDate}}</div>
            </div>
        </div>
    </div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		<a href="/#!/verses/create">create verse</a>
	</div>
</section>