<div data-ng-controller="UserSignController">
            <div class="block row">
                <form data-ng-submit="RequestSign()" method="post" class="form-horizontal col-xs-4">
                    <div class="form-group">
                        <label>要求组长签名</label>
                    </div>
                    <div class="form-group">
                        <label for="speriod">Period</label>
                        <select id="speriod" data-ng-options="sday.Desc for sday in scheduleStarts" data-ng-change="scheduleChanged()" data-ng-model="scheduleStartSel"  class="form-control" ></select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-large btn-danger">申请</button>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong>{{error}}</strong>
                    </div>
                    <div data-ng-show="message" class="text-center text-success">
                        <strong>{{message}}</strong>
                    </div>
                </form>
            </div>
            <div>
                <div data-ng-include="'modules/verses/views/versesInfo.client.style.html'"></div>
                <table cellpadding="10" cellspacing="10">
                    <tr class="row" data-ng-repeat="schLine in curSchedule">
                        <td class="{{recordedHash[sch][selectedUserId].cls}}" data-ng-repeat="sch in schLine" tooltip="{{recordedHash[sch][selectedUserId].tip}}" tooltip-append-to-body="true">{{sch}} {{recordedHash[sch][selectedUserId].dateRead}}</td>

                    </tr>
                </table>

            </div>
</div>
