<div data-ng-controller="SignRequestController">
            <div class="block row">
                <form data-ng-submit="SignRequest()" method="post" class="form-horizontal col-xs-4">
                    <div class="form-group">
                        <label for="speriod">Period</label>
                        <select id="speriod" data-ng-options="sday.Desc for sday in scheduleStarts" data-ng-change="scheduleChanged()" data-ng-model="scheduleStartSel"  class="form-control" ></select>
                    </div>
                    <ul>
                        <li ng-repeat="req in signReqs">
                            <label>
                                <input type="checkbox" ng-model="req.checked">
                                {{req.Desc}} {{req.ScheduleStartDay}} {{req.user.email}}
                            </label>
                        </li>
                    </ul>
                    <div class="form-group">
                        <button type="submit" class="btn btn-large btn-danger">Save Changes</button>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong>{{error}}</strong>
                    </div>
                    <div data-ng-show="success" class="text-center text-success">
                        <strong>{{success}}</strong>
                    </div>
                </form>
            </div>
            <div>
                <div data-ng-include="'modules/verses/views/versesInfo.client.style.html'"></div>
                <table cellpadding="10" cellspacing="10">
                    <tr class="row" data-ng-repeat="schLine in curSchedule">
                        <td class="{{recordedHash[sch].cls}}" data-ng-repeat="sch in schLine" tooltip="{{recordedHash[sch].tip}}">{{sch}} {{recordedHash[sch].dateRead}}</td>

                    </tr>
                </table>

            </div>
</div>
